/* Typical Device Breakpoints
-----------------------------
Pequenas Telas : até 600px
Celular : 600px até 768px
Tablet : 768px até 992px
Desktop : 992px até 1200px
Grandes Telas : acima de 1200px
 */

 /* Configuração para Tablet	 */
@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: url(../img/background.png);
    }

    .login {
        width: 90vw;
        display: flex;
    }

    .login .imagem {
        background-image: url(../img/rx7-retrato-white.png);
        background-position: center;
        float: left;
        width: 40%;
        height: 100%;
    }

    .login .form {
        float: right;
        width: 60%;
    }

    .form h1 {
        font-size: 2em;
        margin: 20px 0px 20px 0px;
    }

    .form p {
        font-size: 1.5em;
        margin-bottom: 25px;
    }

    .campo {
        height: 42.5px;
        display: flex;
        justify-content: center;
    }

    .campo input {
        font-size: 1.1em;
        width: 60%;
    }

    .form input[type=submit] {
        width: 55%;
    }
}

@media screen and (min-width: 992px) {

    body {
        background-image: url(../img/background.png);
    }

    .login {
        width: 950px;
    }

    .login .imagem {
        background-image: url(../img/rx7-retrato-white.png);
        float: left;
        width: 40%;
        height: 100%;
    }

    .login .form {
        float: right;
        width: 60%;
    }

    .form h1 {
        font-size: 2em;
        margin: 90px 0px 20px 0px;
    }

    .form p {
        font-size: 1.5em;
        margin-bottom: 25px;
    }

    .campo {
        height: 42.5px;
        display: flex;
        justify-content: center;
    }

    .campo input {
        font-size: 1.1em;
        width: 80%;
    }

    .form input[type=submit] {
        width: 50%;
    }
}