* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: 'A4SPEED';
    src: url(../font/A4SPEED-Bold.ttf);
}

@font-face {
    font-family: 'Teko-regular';
    src: url(../font/Teko-Regular.ttf);
}

body , html {
    background: url(../img/background-retrato.png);
    background-size: cover;
    height: 100vh;
    width: 100vw;   
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.login {
    background-color: rgba(255, 255, 255, 0.750);
    width: 300px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.500);

    transition: width .5s, height .5s;
    transition-timing-function: ease;
}

.login .imagem {
    background: url(../img/rx7-white-redimencionado-2.png) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: center bottom;
    display: block;
}

.login .form {
    padding: 15px;
    display: block;
}

.form h1 {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'A4SPEED';
}

.form p {
    font-size: 1.1em;
    font-family: 'Teko-regular';
    text-align: center;
}

.campo {
    display: flex;
    width: 100%;
    height: 40px;
    margin-bottom: 2.5px;
    border-radius: 5px;
    padding: 5px;
    /* border: 1px solid #ff0000; */
    outline: none;
    font-size: .9em;
    align-items: center;
    gap: 5px;
}

.campo ion-icon {
    font-size: 1.5em;
}

.campo input {
    width: 85%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.500);
    outline: none;
    font-size: 1em;
    border-radius: 5px;
    font-family: 'A4SPEED';
}

.form input[type=submit] {
    display: block;
    font-size: 1em;
    width: 60%;
    height: 30px;
    background-color: #46a2f1; /* #156dc1 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    margin-top: 15px;
    font-family: 'A4SPEED';
}

.form input[type=submit]:hover {
    background-color: #156dc1;
    transition: .5s;
}

.form .esqueci {
    display: block;
    text-align: center;
    font-size: .9em;
    margin-top: 15px;
    color: #46a2f1;
    text-decoration: none;
    font-family: 'A4SPEED';
}

.form .esqueci:hover {
    text-decoration: underline;
    color: #156dc1;
}