* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body , html {
    background: url(../img/background-retrato.png);
    background-size: cover;
    height: 100vh;
    width: 100vw;   
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.login {
    background-color: rgba(255, 255, 255, 0.750);
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.500);

    transition: width .5s, height .5s;
    transition-timing-function: ease;
}

.login .imagem {
    background: url(../img/rx7-white.png) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: left center;
    display: block;
}

.login .form {
    padding: 15px;
    display: block;
}

.form h1 {
    text-align: center;
    margin-bottom: 10px;
}

.form p {
    font-size: .9em;
}

.form input[type=submit] {
    display: block;
    font-size: 1em;
    width: 60%;
    height: 30px;
    background-color: #2c3f57;
}